/*
** CSS for page displayed to IE users
*/

body { font: 8pt/12pt verdana }
h1 { font: 13pt/15pt verdana }
h2 { font: 8pt/12pt verdana }
a:link { color: red }
a:visited { color: maroon }


a {
	padding-right: 18px;
	padding-left: 0;
}

img.mathplayer {
	border: 0;
}

a.mozilla {
	background: transparent url(http://www.mozilla-europe.org/mozilla-16.png) right center no-repeat;
}

a.seamonkey {
	background: transparent url(http://www.seamonkey-project.org/images/seamonkey16.png) right center no-repeat;
}

a.amaya {
	background: transparent url(http://www.w3.org/Amaya/Icons/amaya1.gif) right center no-repeat;
}

a.mathplayer {
	padding-right: 0px;
}