/*
** CSS for interwiki links
*/

#bodyContent a[class ~="wikipedia"] {
	background: transparent url(http://en.wikipedia.org/favicon.ico) no-repeat scroll right center;
	padding:0 18px;
}

#bodyContent a[class ~="openwiki"] {
	background: transparent url(http://openwiki.com/favicon.ico) no-repeat scroll right center;
	padding:0 18px;
}

#bodyContent a[class ~="google"] {
	background: transparent url(http://www.google.com/favicon.ico) no-repeat scroll right center;
	padding:0 18px;
}

#bodyContent a[class ~="mathworld"] {
	background: transparent url(http://mathworld.wolfram.com/favicon_mathworld.png) no-repeat scroll right center;
	padding:0 18px;
}

#bodyContent a[class ~="eqworld"] {
	background: transparent url(http://eqworld.ipmnet.ru/favicon.ico) no-repeat scroll right center;
	padding:0 18px;
}

#bodyContent a[class ~="scholarpedia"] {
	background: transparent url(http://www.scholarpedia.org/favicon.ico) no-repeat scroll right center;
	padding:0 18px;
}